---
layout: "page"
title: Local Services
description: Need an artist who will take pride in their work and follow through with projects? Look no further, I'm here to help. 
category: "services"
active: services
header-img: "media/servicesbanner.jpg"
---
<div class="gallery">
{% include slider.html sliderpath="media/services-gallery" %}
</div>

<br clear="all" />
{% include services-one.html group="top" %}
<br clear="all" />
{% include services-three.html group="three" %}


<br clear="all" />
{% include services-testimonials.html group="testimonials" %}

<br clear="all" />

<h2 class="center">Other Services</h2>
{% include services-two.html group="bottom" %}
<br clear="all" />    
<br clear="all" />



<div id="header-booknow">
    <a class="booknow" href="https://meetings.hubspot.com/trinaisartsy" target="new"><img class="bookme" src="/img/bookbutton.png" alt="Book Now!"></a>
</div>