---
layout: "page"
title: Local Services
description: Need an artist who will take pride in their work and follow through with projects? Look no further, I'm here to help. 
category: "services"
active: services
header-img: "media/servicesbanner.jpg"
---
<div class="gallery">
{% include slider.html sliderpath="media/services-gallery" %}
</div>

<br clear="all" />
<div class="services-one">
    {% for page in site.services %}
        {% if page.group == "top" %}
        <h1>{{ page.title }}</h2>
        <p>{{ page.content }}</p>
        {% endif %}
    {% endfor %}

</div>

<br clear="all" />

<ul class="services-three">
    {% for page in site.services %}
        {% if page.group == "three" %}
        <li>
            <img class="round" src="/{% if page.img %}{{ page.img }}{% else %}{{ page.header-img }}{% endif %}" />
            <h2>{{ page.title }}</h2><p>{{ page.description }}</p>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<br clear="all" />
<br clear="all" />

<h2 class="center">Other Services</h2>
<div class="services-two">
    {% for page in site.services %}
        {% if page.group == "bottom" %}
        <ul>
            <li>
                <h3>{{ page.title }}</h3>
                <img class="round" src="/{{ page.img }}" alt="{{ page.title }}" />
                <p>{{ page.content }}</p>
            </li>
        </ul>
        {% endif %}
    {% endfor %}
</div>

<br clear="all" />    
<br clear="all" />

<div class="services-testimonials">
    {% for page in site.services %}
        {% if page.group == "testimonials" %}       
        <h2>{{ page.title }}</h2>
        <p>{{ page.content }}</p>
        {% endif %}
    {% endfor %}            
</div>

<div id="header-booknow">
    <a class="booknow" href="https://meetings.hubspot.com/trinaisartsy" target="new"><img class="bookme" src="/img/bookbutton.png" alt="Book Now!"></a>
</div>