---
layout: page
title: "Selected Works"
description: "Artwork from 2010 - Present"
active: gallery
header-img: "media/banner3.jpg"
---

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">
</head>

    <body>
 
	<section id="content" role="main">
		<div class="wrapper">
			<br><br>
			<!-- Gallery __-->
			<div class="gallery">
			{% for image in site.static_files %}
				{% assign title = "Zoom" %}
				{% assign url = "#" %}
				{% if image.path contains 'art/' %}				
					{% unless image.path contains 'thumbs' %}
						{% assign rendered = image.relative_path %}
						{% capture imagepath %}{{ image.path | replace_first: '/', '' }}{% endcapture %}
						{% for post in site.art %}
							{% if image.path contains post.image %}	
								{% assign title = post.title %}
								{% assign url = post.url %}
							{% endif %}
						{% endfor %} 
						{% if rendered != image.path %}	
							{% capture thumbsrc %}{% thumbnail imagepath 500x500 %}{% endcapture %}							
							<article 
								data-href="{{ site.url }}{{ site.baseurl }}{{ image.path }}"
								data-title="{{ title }}"
								data-url="{{ url }}"
								data-thumbnail="/{{ thumbsrc | replace: "<img src='", "" |  replace: "' />", "" }}"
								data-caption="<a href='{{ url }}'><b>Learn More</b></a>"
							></article>
						{% endif %}				
					{% endunless %}
				{% endif %}
			{% endfor %}


			<div class="gallery-col" id="col-a"></div>
			<div class="gallery-col" id="col-b"></div>
		</div>
		</div><!-- END .wrapper -->
	</section>

<!-- jQuery -->    

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>



<script src="{{ site.baseurl }}/js/retina.min.js"></script>
<!-- include Masonry -->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>

<!-- include custom script -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>


<script type="text/javascript">

// basic lazy loader
var lazyload = {

	left: true,
	// this will load one image at a time, 
	generateImage: function() {

		article = $('.gallery article')[0]
		data = article.dataset;

		image = new Image();
		image.onload = function(a) {
			this.x++;
			console.log(this.left)
			if(this.left) {
				append = $('#col-a')
				this.left = false;
			} else {
				append = $('#col-b')
				this.left = true;
			}
			
			$(image).appendTo(
				$('<a href="'+data.href+'" title="'+data.title+'" data-caption="'+data.caption+'"></a>')
			).closest('a').appendTo(append);


			this.generateImage();
		}.bind(this);
		image.src = data.thumbnail;
		article.remove();
	}
}

// wait for the rest of the page to load before loading images
$(window).on("load", function() {
	$('.gallery').magnificPopup({
  		delegate: 'a', // child items selector, by clicking on it popup will open
  		type: 'image'
  // other options
	});

	lazyload.generateImage();


});

</script>

<script type="text/javascript">
	$(document).ready(function($) {
	 
});
  </script>


<style type="text/css">
	.gallery img {
		float: left;
		margin: 10px;
		max-height: 800px;
		width: 95%;
	}

	 .gallery-col {
		 width: 50%;
		 float: left;
	 }
</style>

</body></html>
