---
layout: page
title: the trina is artsy blog
# description: archive
header-img: "art/Flowers%20For%20Tony.JPG"
---

<div id="post-content">
    {% if site.categories[page.category] %}
        {% for post in site.categories[page.category] %}

        <a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <p>{{ post.excerpt }}</p>


        <span>Tags: 
            {% for tag in post.tags %}
            <a href="#">{{ tag }}</a>
            {% endfor %}
        </span>

        {% endfor %}
    {% else %}
        <p>There are no posts in this category.</p>
    {% endif %}
</div>

